node_modules
dist
build
coverage
storybook-static
packages/*/storybook-static
playwright-report
test-results
*.config.js
*.config.ts
packages/*/dist
packages/*/loader
packages/react/src/components/stencil-generated
packages/vue/src/components.ts
packages/vue/src/vue-component-lib/utils.ts

